name: Demo Workflow
on: 
  push
jobs:
  JobOne:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout My Project
        uses: actions/checkout@v4
      - name: Setup NodeJs
        uses: actions/setup-node@v4
        with:
          node-version: 20.9.0
      - name: Veirfy Node Available
        run: |
          node -v
          npm -v
          echo ${{ github.wrokspace }}
        
